/*<!--Fonts-->*/
.bodyfontall {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    font-size: 18px;
}
.arial {
    font-family: Arial;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    font-size: 22px;
}
.neue {
    font-family: "Helvetica Neue";
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 18px;
}
.helvetica {
    font-family: Helvetica;
    color: rgb(255, 0, 0);
    background: rgb(73, 1, 1);
    font-size: 16px;
}
.sans {
    font-family: sans-serif;
    color: rgb(0, 255, 0);
    background: rgb(80, 80, 80);
    font-size: 30px;
}
/*<!--Background color -- Header, Nav, Section, Aside, and Footer -->*/
.generalbg {
    background: #ebebeb;
}
/*<!--Article -->*/
.articleprop {
    color: #ebebeb,;
    background: #777;
}
/*<!--h1 & p -->*/
p, h1, {
    color: #777,;
    background: #ebebeb;
}
/*<!--Section Width-->*/

.rounded {
    border-radius: 25px;
}


.header {
	background-color: #6c02e6
}
.nav {
    background-color: #15e602;
    column-count: 10;
    column-rule-width: 1px;
    column-rule-color: rgb(0, 0, 0);
    column-rule-style: solid;
    column-width: 1px;
    margin-left: auto;
    margin-right: auto;
}


.column {
    column-count: 2;
    background-color: #aeffcd;
    column-rule-width: 0px;
    column-rule-color: rgb(0, 0, 0);
    column-rule-style: solid;
    column-width: 1px;
    margin-left: auto;
    margin-right: auto;
}


.smallerwidth {
    width: 495px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.evensmallerwidth {
    width: auto;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}


.footer {
    width: 960px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}




.jumbotron {
	background-color: #428bca
}

.jumbotron h1 {
	color:white;
}

.jumbotron h2 {
	color:white;
}